{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": false
      }
    }
  ]
}
